.App {
  text-align: center;
  background-color: palegoldenrod;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  --font-family: luminari, fantasy;
  background-color: #00c4cc;
  font-family: Gill Sans, Verdana;
  border-radius: 12px;
  color: #7d2ae8;
  border: 2px solid; 
  cursor: pointer;
  text-align: center;
  border: 0;
  font-size: 16px;
}